<ion-view view-title="Device list">
    <ion-content>
        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="getList()">
        </ion-refresher>
    <div class="card" ng-if="dispositives.length <= 0">
        <div class="item item-text-wrap">
            No devices available
        </div>
    </div>

    <ion-list>
        <ion-item ng-repeat="dispositive in dispositives">
            {{dispositive.name}}
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>
